body
{
    background-color: rgba(0, 0, 0, 0.841);
    color:whitesmoke;
    margin-right:80px;
    margin-left:100;
    margin-top:50px;
    margin-bottom:100px;
}
.top
{

    display: flex;
}
.topleft
{
    flex: 1;
    padding-left:120px;
}
.topright
{
    flex:3;
}
.img1
{
    height:280px;
    border-radius:100px;

}
.img2
{
    width: 400px;
}
.mid
{
    display: flex;
}
.midleft
{
    flex: 1;
    padding-left: 30%;
}
.midright
{
    flex:1;
    padding-top:100px;
    
}
.bottom
{
    display: flex;
}
.item
{
    flex: 1;
    margin: 10px;
    text-align: center;
    color: rgb(205, 174, 50);
    font-size: 50px;
    text-shadow: -1px 1px 0 red, 1px 1px 0 red, 1px -1px 0 red,-1px -1px 0 red;
}
.title
{
    font-size: 80px;
    margin-left:-30px;
}
.card
{
    width: 380px;
    height: 450px;
    border: solid red;
    box-shadow: 15px 10px 100px rgb(205, 174, 50);
}
.features
{
    font-size: 70%;
    margin-bottom: 0px;
}